.debugFrame {
  position: relative;
  width: 150px;
  height: 50px;
  background-color: rgba(200, 0, 0, 1);
  top: 0%;
  left: 80%;
  z-index: 999;
  color: white;
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
}
.testCl {
  color: aquamarine;
}
